<div class="container-fluid">
	<div class="form-group">
	  <input id="editInput" type="text" class="form-control" placeholder="New description">
	</div>
	<div class="contact">
		<p>Visit us at 500 Interstate Blvd. South, Nashville TN</p>
	</div>
</div>