<h2>{{name}}!</h2>
<p>
  We bake the most delicious cake varieties like  
  {{#each cakeType}}
    {{cake}} {{topping}}
    {{#unless @last}}
      ,
    {{/unless}}
    {{#if @last}}
    .
    {{/if}}
  {{/each}}